/* 860px */
@media (max-width: 860px) {
    .header .nav-bar ul li {
        display: block;
    }

    .header .nav-bar::before {
        height: 100%;
        background-color: red;
        width: 50%;
    }

    /* .header .buttons button {
        display: none;
    } */


}